<h1>Editing question</h1>




<% form_for([@survey, @question]) do |f| %>
	
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
  	<%= f.label :section %><br />
    Display question section property: <%=@question.section_id || "Not assigned!"  %> <br/>
	<% secs = Survey.find(params[:survey_id]).sections%>
	<%= select(@question, :section_id, secs.collect{|p| [ p.id, p.description ] }, {:prompt => true, :include_blank => true }) %>	
  </p>
  <p>
    <%= f.label :hint %><br />
    <%= f.text_area :hint %>
  </p>
  <p>
    <%= f.label :is_commentable %><br />
    <%= f.check_box :is_commentable %>
  </p>
  <p>
    <%= f.label :is_rateable %><br />
    <%= f.check_box :is_rateable %>
  </p>
  <p>
    <%= f.label :is_voteable %><br />
    <%= f.check_box :is_voteable %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<!--%= link_to 'Show', survey_question_path % --> |
<!--%= link_to 'Back', survey_questions_path %-->
<%= hidden_field_tag("survey_id", @survey.id) %>