<h1>Listing questions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Hint</th>
    <th>Is commentable</th>
    <th>Is rateable</th>
    <th>Is voteable</th>
  </tr>

<% for question in @questions %>
  <tr>
    <td><%=h question.title %></td>
    <td><%=h question.description %></td>
    <td><%=h question.hint %></td>
    <td><%=h question.is_commentable %></td>
    <td><%=h question.is_rateable %></td>
    <td><%=h question.is_voteable %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question', new_question_path %>
