<h1>New question</h1>

<% form_for([@survey,@question]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :hint %><br />
    <%= f.text_area :hint %>
  </p>
  <p>
    <%= f.label :is_commentable %><br />
    <%= f.check_box :is_commentable %>
  </p>
  <p>
    <%= f.label :is_rateable %><br />
    <%= f.check_box :is_rateable %>
  </p>
  <p>
    <%= f.label :is_voteable %><br />
    <%= f.check_box :is_voteable %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', survey_questions_path %>
