<p>
  <b>Title:</b>
  <%=h @question.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @question.description %>
</p>

<p>
  <b>Hint:</b>
  <%=h @question.hint %>
</p>

<p>
  <b>Is commentable:</b>
  <%=h @question.is_commentable %>
</p>

<p>
  <b>Is rateable:</b>
  <%=h @question.is_rateable %>
</p>

<p>
  <b>Is voteable:</b>
  <%=h @question.is_voteable %>
</p>


<%= link_to 'Edit', edit_survey_question_path(@survey, @question) %> |
<%= link_to 'Back', survey_questions_path %>
