<h1>User Info </h1>

<%= link_to image_tag("delete.jpg", :alt => "Destroy", :width => "16", :height => "16" ), @user, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to image_tag("edit.jpg", :alt => "Edit", :width => "16", :height => "16" ), edit_user_path(@user) %>

<br />

<p>
  <b>Login Name:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Real Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>team_name:</b>
  <%=h @user.team_name || "Unspecified" %>
</p>

<p>
  <b>role involved:</b>
  <% rs = []%>
  <% for role in @user.roles%> 
  		<% rs << role.name%> 
  <% end %>
  <%= rs.join(", ")%>
</p>


<%= link_to 'Edit', edit_user_path(@user)%> | 
<%= link_to 'Back', users_path %>
