<h1>Listing sections</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Description</th>
  </tr>

<% for section in @sections %>
  <tr>
    <td><%=h section.number %></td>
    <td><%=h section.description %></td>
    <!--td><%= link_to 'Show', survey_section_path(@survey, section) %></td-->
    <td><%= link_to image_tag("edit.jpg", :alt => "Edit", :width => "16", :height => "16" ), edit_survey_section_path(@survey, section) %></td>
    <td><%= link_to image_tag("delete.jpg", :alt => "Destroy", :width => "16", :height => "16" ), section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New section', new_section_path %>
