<h1>Listing surveys</h1>

<table class="listing">
  <tr>
    <th>Title</th>
    <th>Description</th>
	<th>Guideline</th>
	<th>Category</th>
    <th>Target audience</th>
  </tr>

		
<% @surveys.each_with_index do | survey, i | %>
  <% row_class = i%2 == 0 ? "even" : "odd" %>
  <tr class="<%= row_class %>"> 
    <td><%=h survey.title %></td>
    <td><%=h survey.description %></td>
	<td><%=h survey.guideline %></td>
    <td><%=h survey.category %></td>
    <td><%=h survey.target_audience %></td>
    <td><%= link_to image_tag("detail.jpg", :alt => "Detail", :width => "50", :height => "20" ), survey %></td>
    <td><%= link_to image_tag("edit.jpg", :alt => "Edit", :width => "16", :height => "16" ), edit_survey_path(survey) %></td>
    <td><%= link_to image_tag("delete.jpg", :alt => "Destroy", :width => "16", :height => "16" ) , survey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New survey', new_survey_path %>
