<p>
  <b>Title:</b>
  <%=h @survey.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @survey.description %>
</p>

<p>
  <b>Guideline:</b>
  <%=h @survey.guideline %>
</p>

<p>
  <b>Category:</b>
  <%=h @survey.category %>
</p>

<p>
  <b>Target audience:</b>
  <%=h @survey.target_audience %>
</p>
<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>

<br />
<hr />
<br />

<strong>List of section ( Section includes a set of questions)</strong> <br>
<%= link_to 'Add new section(to this survey)', new_survey_section_url(:survey_id => @survey.id)%> |

<table>
  <tr>
    <th>Number</th>
    <th>Description</th>
  </tr>

<% for @section in @sections %>
    <%= render :partial => "/sections/section", :object  => @section %>
<% end %>
</table>

<br />
<hr />
<br />

<strong>List of questions</strong><br/>

<%= link_to 'Add new question(to this survey)', new_survey_question_url(:survey_id => @survey.id)%> |

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Hint</th>
    <th>Is commentable</th>
    <th>Is rateable</th>
    <th>Is voteable</th>
  </tr>

<% for @question in @questions %>
    <%= render :partial => "/questions/question", :object  => @question %>
<% end %>
</table>



