<p>
  <b>Name:</b>
  <%=h @photo.name %>
</p>

<p>
  <b>Server path:</b>
  <%=h @photo.server_path %>
</p>

<p>
  <b>Exif:</b>
  <%=h @photo.exif %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
