

<!--TODO: add error message handling code here-->

<%= error_messages_for :survey_sheet %>


<!-- display questions with preset answers, 
    IDEA: maybe we can use view helper to group each question/response -->	
<% @survey_sheet.questions.each do | question| %>   <!--TODO: remember to -->
	<!-- question section -->
	<b><%= question.title %></b><br/>
	Question:  <%= question.description%> <br/>
	<!-- response/answer section -->
	<!-- one question to one answer , not a copy of object, a direct reference, can it be?-->
	
	
	<textarea cols="40" rows="15" id="response<%=question.id%>" name="response<%=question.id%>" class="">
		<%= "#{that_user_response(question).answer_text}" %>
    </textarea><br/>
	<hr/>

<% end %>

<!-- Add save button -->
<div class="submit">
<p>
<%= submit_tag 'Press to Save/Update your answers', :disable_with => "Saving&hellip;" %>
</p>                        
</div> 
<%= hidden_field_tag("survey_sheet_id", @survey_sheet.id) %>
