<h1>Listing of previous surveys</h1>

<% if @previous_sheets %>
	<table>
	  <tr>
	    <th>id</th>
	    <th>title</th>
	    <th>source survey_definition</th>
	  </tr>
	
	<% for sheet in @previous_sheets %>
	  <tr>
	    <td><%=h sheet.id %></td>
	    <td><%=h sheet.title %></td>
		<td><%=h sheet.survey_id %></td>
	    <td><%= link_to 'Edit', edit_survey_sheet_path(sheet) %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	 No previous sheet taken!
 <% end %>

<br />

<h1>Listing of available surveys</h1>

<% if @available_sheets %>
	<table border="1">
	  <tr>
	    <th>title</th>
	    <th>description</th>
	    <th>category</th>
		<th>target_audience</th>
	  </tr>
	
	<% for sheet in @available_sheets ||[]%>
	  <tr>
	    <td><%=h sheet.title %></td>
	    <td><%=h sheet.description %></td>
		<td><%=h sheet.category %></td>
		<td><%=h sheet.target_audience %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
 No avaialbe sheet!
<% end %>

