<h1>Listing of previous surveys</h1>

<% if @previous_sheets %>
	<table>
	  <tr>
	    <th>Title</th>
	    <th>Survey Description</th>
		<th>Operations</th>
	  </tr>
	
	<% for sheet in @previous_sheets %>
	  <tr>
	    <td><%=h sheet.survey.title %></td>
		<td><%=h sheet.survey.description %></td>
	    <td><%= link_to 'Edit', survey_sheet_url(sheet.id), :survey_id => sheet.survey.id %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	 No previous sheet taken!
 <% end %>

<br />


<h1>Listing of available surveys</h1>

<% if @available_surveys %>
	<table>
	  <tr>
	    <th>Title</th>
	    <th>Survey Description</th>
	    <th>Category</th>
		<th>Target Audience</th>
	  </tr>
	
	<% for survey in @available_surveys %>
	  <tr>
	    <td><%=h survey.title %></td>
	    <td><%=h survey.description %></td>
		<td><%=h survey.category %></td>
		<td><%=h survey.target_audience %></td>
		<td><%=link_to "Take this survey", new_survey_sheet_path(:survey_id => survey.id )  %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
 No avaialbe sheet!
<% end %>

