<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Spicyhorse internal survey system</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= ajaxful_rating_style %>
  <%= stylesheet_link_tag "site" %>
   
  
  <script type="text/javascript" src="javascripts/prototype.js"></script>
  <script type="text/javascript" src="javascripts/scriptaculous.js?load=effects,builder"></script>
  <script type="text/javascript" src="javascripts/lightbox.js"></script>
  
  <link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
</head>
<body>

<div id="whole_page">
	<div id="header">Spicy Horse Zhang Jia Jie Photo Contest</div>
	<div id="banner">
	 <br/>
	 <%= image_tag("spicyhorse.trademark.jpeg", :alt=> "Spicyhorse trademark") %>
	 <br/>
	</div>
	
	<div id="nav">
		<%= link_to "Home",root_url %> |
		<%= link_to_unless_current "Help", :controller => "site", :action => "help" %> |
		<%= link_to_unless_current "About", :controller => "site", :action => "about"  %>
		<br /><br />
		<% if logged_in? %>
			Wecome! <%= current_user.login%>, 
			<%= link_to "If not you, please logout", :controller => "sessions", :action => "destroy" %>
		<% else %>
			<%= link_to "Login" , :controller => "sessions", :action => "new"%>
		<% end %>
		<br /><hr/><br />
	</div>
	
	<div id="nav_user">	
		<% if logged_in? %>
		You are a member <br/><br/>
		<% end %>
		<% if logged_in? and current_user.roles.include?(Role.find_by_name("admin"))%>
			of group 'Admin', you can <%= link_to "Manage Users(all) with their surveys", users_path %>.
			<br /><br />
		<% end %>
		
		<% if  logged_in? and current_user.roles.include?(Role.find_by_name("leader"))%>
			of group 'Leader', you can <%= link_to "Manage Users(team) with their surveys", users_path %> or <%= link_to "Manage Surveys", surveys_path%>.
			<br /><br />
		<% end %>
		
		<% if  logged_in? and current_user.roles.include?(Role.find_by_name("employee"))%>
			<!-- temp, find existing or create a new one -->
			<% %>
			of group 'Employee', you can <%= link_to "Take the survey 'Photo Contest'" , :controller => "site", :action => "forward_to_employee_form" %>.
			<br /><br />
		<% end %>
		<hr/>
	</div>
	
	
	<div id="error_message">
		<%= flash[:notice] %>
	</div>

	
<div id="content">
<!--%= @content_for_layout %-->
<%= yield  %>
</div>
	



<div class="site-footer">
	
</div>

</div>	
</body>
</html>
